main {
  font-family: 'Nunito', serif;
  margin: auto;
  text-align: center;
}

#welcome-section {
  top: 0x;
  background-color: rgba(12, 6, 59, 0.81);
  color: white;
  padding-bottom: 2em;
}

#box {
  padding-top: 2rem;
}

#profile-pic {
  border-radius: 50%;
  border: 2px solid;
  width: 150px;
}

#first-name {
  font-size: 50px;
  line-height: 4px;
}

#title {
  padding-bottom: 1em;
  font-size: 25px;
}

#links {
  width: 20%;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 1em;
}

.socials-icons {
  transition: transform .2s;
}

.socials-icons:hover {
  transform: scale(1.5);
}

i {
  font-size: 30px;
  color: white;
}

.container {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  max-width: 50%;
  margin: auto;
  text-align: left;
}

.container2 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  max-width: 33%;
  margin: auto;
  text-align: left;
}

.center {
  margin: auto;
  text-align: center;
}

input {
  width: 100%;
  line-height: 25px;
}

textarea {
  width: 100%;

}


#about-me{
 background-color: rgba(177, 175, 188, 0.81); 
}

.project-images {
  border: .2px black solid;
  width: 100%;
  height: 77%;
}
#contact {
  line-height: 50px;
  color: white;
  margin: auto;
  background-color: rgba(12, 6, 59, 0.81);
}

.submit-button {
  border-radius: 10px;
  background-color: rgba(177, 175, 188, 0.81); 
  font-weight: bold;
  font-size: 15px;
  padding: .5em .5em .5em .5em;
  color: white;
  width: 33%;
  align-items: center;
  transition: .2s ease-in-out;
}

.submit-button:hover {
  border: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  color: black;
  transform: scale(1.15);  
}

#button-holder {
  padding-top: 1.2em;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3.125rem;
  column-gap: 1em;
}

.project-title {
  text-align: center;
}
img {
  width: 100%;
}

.underline {
  width: 5em;
  margin-left: 0em;
}

@media only screen and (max-width: 800px)
{